html,body{
	height: 100%;
	width: 100%;
}

.container-fluid{
	width:100%;
	height:100%;
	padding:0;
	background:#f5f0f0;
}

.container-fluid>.leftdiv{
	width:20%;
	height:100%;
	float:left;
	background:rgb(239, 240, 244);
	padding:27px 10px 30px 22px;
	position: fixed;
	overflow: auto;
}
.container-fluid>.rightdiv{
	width:80%;
	height:100%;
	float:right;
	background:rgb(239, 240, 244);
	padding:27px 20px 30px 1px;
}

.leftdiv>div{
	width:100%;
/* 	height:0%; */
	border-radius:5px;
	background: #fff;
}
.rightdiv>div{
	width:100%;
	/* height:0%; */
	border-radius:5px;
	background: #fff;
	padding-top:10px;
	margin-bottom: 10px;
}

.titlex{
	border-left: 3px solid #22b7b5;
	padding-left:15px; 
	margin-left: 20px;
}
.titlex2{
	border-left: 3px solid #22b7b5;
	padding-left:15px; 
	margin-left: 10px;
	font-size: 16px;
}
#xsfs{
	margin-top: 10px;
}
#xsfs tr td{
	padding: 7px 5px 7px 20px;
}
#xsfs tr:nth-child(3) td{
	font-weight: bold;
}
#xsfs tr:nth-child(4) td select{
	width: 160px;
	height: 25px;
	border-radius: 5px;
	border: solid 1px #c2c2c2;
}
#xsfs tr:nth-child(5) td input{
	width: 41px;
	height: 26px;
	border: solid 1px #aaaaaa;
}
#xsfs tr:nth-child(6) td input{
	width: 50px;
	height: 25px;
	border-radius: 6px;
	border: solid 1px #cdcbcb;
	text-align: center;
}
#xsfs tr:nth-child(6) td button{
	width: 25px;height: 25px;border: none;line-height: 0;
}
#xsfs select{
	outline:0;
}


.tlb_right{
	height: 100%;width: 15%;float: right;
}
.tlb_right button{
	display: block;
}
.tlb_right button:nth-child(1){
	width: 25px;height: 25px;border: none;margin-top: 25px;

}
.tlb_right button:nth-child(2){
	width: 20px;height: 25px;border: none;
	padding: 5px 6px;
    margin-left: 2.5px;
}
.tlb_right button:nth-child(3){
	width: 20px;height: 25px;border: none;	
	padding: 5px 6px;
    margin-left: 2.5px;
}
.tlb_right button:nth-child(4){
	width: 25px;height: 25px;border: none;
}


.rightdiv_1{
	height: 390px;
	padding: 10px;
}
.rightdiv_1_1{
	width: 100%;
	height: 170px;
	padding-left: 50px;
	position: relative;
}
.rightdiv_1_1>p{
	position: absolute;
	width: 15px;
	height: 42px;
	font-size: 14px;
	color: #22b7b5;
	top:45px;
	left: 20px;
}
.rightdiv_1_1>div{
	width: 100%;
	height: 100%;
}

.rightdiv_1_2{
	width: 100%;
	height: 390px;
}
.rightdiv_1_2>div{
	width: 100%;
	height: 90%;
}

.rightdiv_1_3{
	width: 100%;
	height: 420px;
}
.rightdiv_1_3l{
	width: 25%;
	height: 90%;
	float: left;
}
.rightdiv_1_3l>div{
	width: 100%;
	height: 100%;
}
.rightdiv_1_3r{
	width: 75%;
	height: 90%;
	float: left;
}
.rightdiv_1_3r_m{
	width: 100%;height: 50%;
}
.rightdiv_1_3r_m_c{
	width: 24%;height: 100%;float: left;padding: 5px
}
.cpk_p{
	border:1px solid #bcbcbc;
	margin: 0;
	color: #22b7b5;
	padding: 5px;
	border-radius:5px 5px 0 0;
}
.cpk_div{
	border:1px solid #bcbcbc;
	border-radius:0 0 5px 5px;
}
.cpk_div p{
	margin: 0;
	font-size:12px;
	transform: scale(0.98) ;
}


.leftdiv_1{
	height: 100px;
}
.leftdiv_1_1{
	height: 10px;
	width: 100%;
}
.leftdiv_1_3{
	height: 1px;
	width: 100%;
	background-color: #e1e0e0;
}

.leftdiv_3_3{
	height: 136px;width: 100%;
}
.leftdiv_3_3_1{
	height: 100%;width: 85%;float: left;padding-left: 20px;padding-top: 20px;
}


.leftdiv_1_4{
	width: 100%;
	text-align: center;
}
.leftdiv_1_4_1{
	margin:15px auto;
}
.leftdiv_1_4_1 button{
	width: 60px;height: 25px;
}


.leftdiv_2{
	margin-top:10px;
	height:300px;
}

.leftdiv_3{
	margin-top:10px;
	height: 200px
}
.leftdiv_4{
	margin-top:10px;
	height: 180px;
}
.leftdiv_4_1{
	padding-left: 20px;
	padding-top: 10px;
}
input,button,.btn{
	outline:none;
}

.echarts_box_5{
	width: 100%;
	height: 390px;
}
.echarts_box_5_l{
	width: 80%;
	height: 90%;
	float: left;
}
.echarts_box_5_l>div{
	width: 100%;
	height: 100%;
}
.echarts_box_5_r{
	width: 18%;
	height: 90%;
	float: left;
	padding:30px 0 0 0;
}
.dropdown-menu>.active>a:hover, .dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
    background-color: #22b7b5;
}
.btn-group>.btn:focus, .btn-group-vertical>.btn:focus {
    outline: 0 !important;
}

.cpklow{
	width: 19%;
}
.btnT.btn-default:hover, .btnT.btn-default:active{
    background: #22b7b5;
    color: white;
    border: 1px solid #22b7b5;
}

#exp{
	position: absolute;
	width: 15px;
	height: 42px;
	font-size: 14px;
	color: #22b7b5;
	top:90px;
	left: 20px;
}


#btn11.btn-default:hover, #btn11.btn-default:focus, #btn11.btn-default:active{
    background: #22b7b5;
    color: white;
    border:1px solid #22b7b5;
}
#btn22.btn-default:hover, #btn22.btn-default:focus, #btn22.btn-default:active{
    background: #22b7b5;
    color: white;
    border:1px solid #22b7b5;
}
#btn33.btn-default:hover, #btn33.btn-default:focus, #btn33.btn-default:active{
    background: #22b7b5;
    color: white;
    border:1px solid #22b7b5;
}
#btn44.btn-default:hover, #btn44.btn-default:focus, #btn44.btn-default:active{
    background: #22b7b5;
    color: white;
    border:1px solid #22b7b5;
}